html,
body {
  font-family: "Open Sans";
  background: #f4f3f2;
  overflow-x: hidden; }

img.bg-deco {
  position: absolute;
  max-width: 220px;
  width: 25vw; }
  img.bg-deco#banana {
    left: 7%;
    bottom: 8%;
    -webkit-animation: float 8s infinite;
    animation: float 8s infinite;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    max-width: 200px; }
  img.bg-deco#enema {
    left: -15px;
    top: 18%;
    -webkit-animation: float 8s infinite;
    animation: float 8s infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  img.bg-deco#cherries {
    top: -5%;
    left: 18%;
    -webkit-animation: float 6s infinite;
    animation: float 6s infinite; }
  img.bg-deco#undies {
    top: -15%;
    right: 22%;
    -webkit-animation: float 9s infinite;
    animation: float 9s infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  img.bg-deco#condom {
    top: 25%;
    right: -15px;
    -webkit-animation: float 8s infinite;
    animation: float 8s infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  img.bg-deco#toy {
    max-width: 180px;
    right: 8%;
    bottom: 10%;
    -webkit-animation: float 7s infinite;
    animation: float 7s infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }

#splash {
  position: relative;
  background-image: url(../img/logo.png);
  background-size: 40%;
  background-position: center 35%;
  background-repeat: no-repeat;
  height: 95vh;
  text-align: center; }
  @media (max-width: 550px) {
    #splash {
      background-size: 65%; } }
  #splash #enter {
    position: absolute;
    bottom: 8%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: white;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05rem;
    z-index: 99; }
    #splash #enter:hover {
      color: white;
      background: #064ff5; }
  #splash #dots {
    position: absolute;
    bottom: 6%;
    -webkit-transform: translateX(-45%);
    -ms-transform: translateX(-45%);
    transform: translateX(-45%);
    width: 325px; }

.theme-button {
  border: 3px solid #064ff5;
  background: #f4f3f2;
  color: #064ff5;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer; }
  .theme-button:hover {
    color: white;
    background: #064ff5; }

#content {
  background: #064ff5;
  width: 100%;
  height: auto;
  padding: 75px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 550px) {
    #content {
      padding: 30px; } }
  #content h2#cta {
    width: 80%;
    margin: auto;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 35px;
    line-height: 60px; }
    @media (max-width: 550px) {
      #content h2#cta {
        width: 100%;
        font-size: 26px; } }
  #content p#intro {
    width: 80%;
    max-width: 630px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.05em;
    margin-bottom: 75px; }
    @media (max-width: 550px) {
      #content p#intro {
        width: 100%;
        text-align: left;
        margin-bottom: 50px; } }
    #content p#intro span {
      background: #d6f440;
      padding: 2px;
      color: #064ff5;
      letter-spacing: 0.05em; }
  #content #sections {
    width: 75%;
    margin: auto;
    overflow: auto; }
    @media (max-width: 550px) {
      #content #sections {
        width: 100%; } }
  #content .col1-2,
  #content .col2-2 {
    width: 50%;
    float: left;
    text-align: left;
    display: inline-block;
    margin-bottom: 35px; }
    @media (max-width: 960px) {
      #content .col1-2,
      #content .col2-2 {
        width: 100%; } }
    #content .col1-2 a,
    #content .col2-2 a {
      text-decoration: none; }
    #content .col1-2 h1,
    #content .col2-2 h1 {
      display: inline;
      font-size: 50px;
      color: white;
      border-bottom: 5px solid #d6f440; }
    #content .col1-2 p,
    #content .col2-2 p {
      text-align: left;
      color: white;
      font-size: 16px;
      font-weight: 600;
      line-height: 32px;
      padding-right: 50px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 25px; }
      @media (max-width: 550px) {
        #content .col1-2 p,
        #content .col2-2 p {
          padding: 0; } }

#footer {
  background-image: url(../img/footer.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px; }
  @media (max-width: 550px) {
    #footer {
      height: 150px; } }

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px); }
  50% {
    -webkit-transform: translatey(-15px);
    transform: translatey(-15px); }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px); } }

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px); }
  50% {
    -webkit-transform: translatey(-15px);
    transform: translatey(-15px); }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px); } }
