html, body {
  font-family: "Open Sans"; }

html::-webkit-scrollbar-track {
  background-color: #f45755; }

html::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; }

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d2d2d2; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 60px;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
  -ms-transform: rotate(-90deg) translateX(-100%);
  transform: rotate(-90deg) translateX(-100%);
  z-index: 99; }
  nav ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    padding-right: 20px;
    line-height: -60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 600; }
    nav ul a {
      width: 60px;
      height: 100%;
      height: auto;
      display: inline-block;
      text-decoration: none;
      color: #000;
      padding: 15px 25px;
      float: right;
      text-align: center; }
      nav ul a.volunteer {
        margin-right: 35px; }
      nav ul a li {
        width: 100%;
        height: 100%; }
        nav ul a li::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: #d6f440;
          -webkit-transition: width .3s;
          -o-transition: width .3s;
          transition: width .3s; }
        nav ul a li:hover::after {
          width: 100%; }

#corner-menu {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 20px;
  z-index: 99; }
  #corner-menu ul {
    list-style: none;
    text-align: right;
    color: black;
    margin: 0; }
    #corner-menu ul div.hidden {
      height: 0;
      overflow: hidden;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      #corner-menu ul div.hidden.active {
        height: 70px; }
      #corner-menu ul div.hidden a {
        font-size: 12px;
        cursor: pointer; }
        #corner-menu ul div.hidden a li {
          text-transform: lowercase;
          line-height: 20px; }
    #corner-menu ul a {
      text-decoration: none;
      color: black;
      -webkit-transform: all 0.4s;
      -ms-transform: all 0.4s;
      transform: all 0.4s; }
      #corner-menu ul a.dropdown {
        cursor: pointer; }
      #corner-menu ul a li {
        list-style: none;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0.05em; }
      #corner-menu ul a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #d6f440;
        -webkit-transition: width .3s;
        -o-transition: width .3s;
        transition: width .3s; }
      #corner-menu ul a:hover::after {
        width: 100%; }

#topbar {
  width: 100%;
  height: 20px;
  background: #064ff5; }
